.caixadeservicos{
   display: flex;
   justify-content: center;
    
}

.container-redondo{
    background-image: linear-gradient(to top ,rgb(61, 60, 60),rgb(39, 39, 39));
    width: 1300px;
    height: 800px;
    flex-direction: column;
    border-radius: 50px;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 0;
}

.icones:hover{
    width: 50px;
    height: 50px;

}

.alinhamento-icones{
    display:flex;
    justify-content: space-around;
}