    .fonte{
        font-family: 'Anton', sans-serif;
    }

    .fonte2{
        font-family: 'Alfa Slab One', cursive;
    }

    .fonte3{
        font-family: 'Pacifico', cursive;
    }

    .fonte4{
        font-family: 'Be Vietnam Pro', sans-serif;
    }
    h1{
        text-align: center;
        font-size: 10em;
        color: #e5e5e5;
        text-shadow: 3px 3px #14213d;
    }
    h2{
        
        font-size: 10em;
        color: #e5e5e5;
        text-shadow: 4px 4px black;
    }

    h3 {
        
        font-size: 10em;
        color: #e5e5e5;
        text-shadow: 4px 4px black;
    }


    .gradient{
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right top,#690f0f,#0e0142,#771212,#0e0142,
        #7a1212,#0e0142,#771414,#0e0142,#771313,#0e0142,#851515,#0e0142);
        background-size: 700% 700%;
        animation: colors 45s ease infinite;
        
    }

    @keyframes colors{
        0%{
            background-position:0% 50%;
        }
        50%{
            background-position:100% 50%;
        }
        100%{
            background-position:0% 50%;
        }
    }

    /* body{
        background-image:url(imgs/bg3.jpg);
        display:flex;
        flex-direction: column;
    }*/
    
    .bg{
        background-image:url("imgs/bg.jpg");
    }

    .bg-colorido{
        background-image:linear-gradient(to top ,rgb(0, 0, 0),rgb(61, 0, 0));
    }

    .bg-config{
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: 200px 200px ;
            background-position: top;
    }
    .alinhamento{
        display: block;
        margin-left: 30px;
        margin-right: auto;
        width: 30%;
        height:350px;

    }

    .txtcentro{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
   
    .carrosselcentralizado{
        margin:auto;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

   
   .comentarios{
        background-color: rgb(199, 199, 199);
        width: 100%;
        height: 100%;
        display: flex;
        align-self:flex-end ;
        flex-direction: column;
        
        
   }

   .alinhamento-cx-txt-picapau {
    display: flex;
    align-self: center;
    height: 350px;
    border-radius: 80px 0px 0px 80px;
    
}
   .alinhamento-gif {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
   }

   .config-gif{
       border-radius: 0 80px 80px 0px; 
      
   }
   .container-custom{
    background-image:radial-gradient(rgb(87, 86, 86),rgb(78, 74, 74));
    border: none;
    width: 600px; ;
    height: 100px;
    box-shadow: 1px 1px 50px 10px #0a0a0a;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    
   }
   
   .alinhamento-container-custom{
       display: flex;
       justify-content: center;
       margin-top: 50px;
       margin-bottom: 50px;
       
   }

   .alinhamento-txt-container-custom{
       display: flex;
       flex-direction: column;
       justify-content: space-around;

       
   }

   .background-2{
        background-image:linear-gradient(to bottom,rgb(51, 51, 51),rgb(0, 0, 0));
        margin-left:10% ;
        margin-right:10% ;
        margin-top: 1%;
        margin-bottom: 1%;
        border-radius: 60px;
   }    




 .container-custom2{
    background-image:linear-gradient(to bottom  ,rgb(61,61,61),rgb(53, 50, 50));
    border: none;
    border-radius: 30px;
    width: 600px; ;
    height: 600px;
    box-shadow: 1px 1px 50px 10px #0a0a0a;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    
 }

 .txt-beneficios{
    color: #e5e5e5;
    text-shadow: 4px 4px black;
 }
 
 .comentarios-head{
     background-color:#585b5e ;
     box-shadow: 1px 1px 5px 6px #222222;
 }

 .barberpole-gif{
     background-image: url(imgs/barberpole.gif);
     width: 400px;
     height:800px;
     background-size: cover;
   
 }
 
.sombra{
    box-shadow: 1px 1px 50px 10px #0a0a0a !important;
}

.neon{
    box-shadow: 1px 1px 20px 10px #00d9ff, !important;
    animation: neon 1s ease infinite;
}

@keyframes neon{
    0%{
        box-shadow: 1px 1px 20px 10px rgb(60, 209, 255);
    }
    25%{
        box-shadow: 1px 1px 25px 10px rgb(60, 96, 255);
    }
   
    50%{
        box-shadow: 1px 1px 30px 10px rgb(135, 60, 255);
    }
    80%{
        box-shadow: 1px 1px 25px 10px rgb(60, 96, 255);
    }
    100%{
        box-shadow: 1px 1px 20px 10px rgb(60, 209, 255);
    }
}

.produtos{
    background-image: url(imgs/produtos.png);
    background-size:100% 100%;
    width:1285px; 
    height:800px;
    background-position:center;
}

.botao{
    border-radius: 5px;
    background-color: rgb(88, 88, 88);
    padding:5px;
    color:rgb(189, 189, 189);
    text-shadow: 2px 2px black;
}

.botao:hover{
    background-color: rgb(255, 0, 64);
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    text-decoration: none;
}